@page "/reports"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using OnlineDebate.Domain
@using OnlineDebate.Data
@implements IAsyncDisposable
@inject IDbContextFactory<OnlineDebate.Data.OnlineDebateContext> DbFactory

<PageTitle>Index</PageTitle>

<style>
    body {
    background-color: lightyellow;
    }
</style>

<h1 style="font-family:Jacquard">Reports!</h1>

<QuickGrid Class="table" Items="context.Report">
    <PropertyColumn Property="report => report.ReportReason" />
    <PropertyColumn Property="report => report.ReportType" />
    <PropertyColumn Property="report => report.OnlineDebateUser.FirstName" />
    <PropertyColumn Property="report => report.Argument.ArgumentContent" />
    <PropertyColumn Property="report => report.Comment.CommentContent" />
    <PropertyColumn Property="report => report.DateCreated" />

    <TemplateColumn Context="report">
        <a href="@($"reports/edit?id={report.Id}")">Edit</a> |
        <a href="@($"reports/details?id={report.Id}")">Details</a> |
        <a href="@($"reports/delete?id={report.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

<NavLink class="nav-link" href="reports/create">
    <button style="background-color:mediumseagreen; color:white; border-radius:200px; width:150px">Create New</button>
</NavLink>

@code {
    private OnlineDebateContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        var arguments = context.Report
          .Include(a => a.Comment)
          .Include(a => a.Argument)
          .Include(a => a.OnlineDebateUser)
          .ToList();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
