@page "/comments"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using OnlineDebate.Domain
@using OnlineDebate.Data
@implements IAsyncDisposable
@inject IDbContextFactory<OnlineDebate.Data.OnlineDebateContext> DbFactory

<PageTitle>Index</PageTitle>

<style>
    body {
        background-color: lightyellow;
    }
</style>

<h1 style="font-family:Jacquard">Comments</h1>

<QuickGrid Class="table" Items="context.Comment">
    <PropertyColumn Property="comment => comment.CommentContent" />
    <PropertyColumn Property="comment => comment.CommentStance" />
    <PropertyColumn Property="comment => comment.CommentLike" />
    <PropertyColumn Property="comment => comment.OnlineDebateUser.FirstName" />
    <PropertyColumn Property="comment => comment.Argument.ArgumentContent" />
    <PropertyColumn Property="comment => comment.DateCreated" />

    <TemplateColumn Context="comment">
        <a href="@($"comments/edit?id={comment.Id}")">Edit</a> |
        <a href="@($"comments/details?id={comment.Id}")">Details</a> |
        <a href="@($"comments/delete?id={comment.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

<NavLink class="nav-link" href="comments/create">
    <button style="background-color:mediumseagreen; color:white; border-radius:200px; width:150px">Create New</button>
</NavLink>

@code {
    private OnlineDebateContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        var arguments = context.Comment
            .Include(a => a.Argument)
            .Include(a => a.OnlineDebateUser)
            .ToList();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
