@page "/comments"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using OnlineDebate.Domain
@using OnlineDebate.Data
@implements IAsyncDisposable
@inject IDbContextFactory<OnlineDebate.Data.OnlineDebateContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="comments/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Comment">
    <PropertyColumn Property="comment => comment.CommentContent" />
    <PropertyColumn Property="comment => comment.CommentStance" />
    <PropertyColumn Property="comment => comment.CommentLike" />
    <PropertyColumn Property="comment => comment.UserId" />
    <PropertyColumn Property="comment => comment.ArgumentId" />
    <PropertyColumn Property="comment => comment.DateCreated" />

    <TemplateColumn Context="comment">
        <a href="@($"comments/edit?id={comment.Id}")">Edit</a> |
        <a href="@($"comments/details?id={comment.Id}")">Details</a> |
        <a href="@($"comments/delete?id={comment.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private OnlineDebateContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
