@page "/leaderboards/create"
@using Microsoft.EntityFrameworkCore
@using OnlineDebate.Domain
@inject IDbContextFactory<OnlineDebate.Data.OnlineDebateContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Leaderboard</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Leaderboard" OnValidSubmit="AddLeaderboard" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="leaderboardrank" class="form-label">LeaderboardRank:</label> 
                <InputNumber id="leaderboardrank" @bind-Value="Leaderboard.LeaderboardRank" class="form-control" /> 
                <ValidationMessage For="() => Leaderboard.LeaderboardRank" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="leaderboardpoints" class="form-label">LeaderboardPoints:</label> 
                <InputNumber id="leaderboardpoints" @bind-Value="Leaderboard.LeaderboardPoints" class="form-control" /> 
                <ValidationMessage For="() => Leaderboard.LeaderboardPoints" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="leaderboardrefresh" class="form-label">LeaderboardRefresh:</label> 
                <InputNumber id="leaderboardrefresh" @bind-Value="Leaderboard.LeaderboardRefresh" class="form-control" /> 
                <ValidationMessage For="() => Leaderboard.LeaderboardRefresh" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="userid" class="form-label">UserId:</label> 
                <InputNumber id="userid" @bind-Value="Leaderboard.UserId" class="form-control" /> 
                <ValidationMessage For="() => Leaderboard.UserId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="topicid" class="form-label">TopicId:</label> 
                <InputNumber id="topicid" @bind-Value="Leaderboard.TopicId" class="form-control" /> 
                <ValidationMessage For="() => Leaderboard.TopicId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Leaderboard.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Leaderboard.DateCreated" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/leaderboards">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Leaderboard Leaderboard { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddLeaderboard()
    {
        using var context = DbFactory.CreateDbContext();
        context.Leaderboard.Add(Leaderboard);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/leaderboards");
    }
}
