@page "/notifications"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using OnlineDebate.Domain
@using OnlineDebate.Data
@using Microsoft.AspNetCore.Authorization
@implements IAsyncDisposable
@inject IDbContextFactory<OnlineDebate.Data.OnlineDebateContext> DbFactory

@attribute [Authorize(Roles = "Administrator, User")]

<PageTitle>Index</PageTitle>

<style>
    body {
        background-color: lightyellow;
    }
</style>

<h1 style="font-family:Jacquard">Notifications</h1>

<QuickGrid Class="table" Items="context.Notifications">
    <PropertyColumn Property="notifications => notifications.NotificationName" />
    <PropertyColumn Property="notifications => notifications.OnlineDebateUser.FirstName" />
    <PropertyColumn Property="notifications => notifications.Topic.TopicName" />
    <PropertyColumn Property="notifications => notifications.DateCreated" />

    <TemplateColumn Context="notifications">
        <a href="@($"notifications/edit?id={notifications.Id}")">Edit</a> |
        <a href="@($"notifications/details?id={notifications.Id}")">Details</a> |
        <a href="@($"notifications/delete?id={notifications.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

<AuthorizeView Roles="Administrator"> 
    <NavLink class="nav-link" href="notifications/create">
        <button style="background-color:mediumseagreen; color:white; border-radius:200px; width:150px">Create New</button>
    </NavLink>
</AuthorizeView>

@code {
    private OnlineDebateContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        var arguments = context.Notifications
             .Include(a => a.Topic)
             .Include(a => a.OnlineDebateUser)
             .ToList();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
