@page "/topics"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using OnlineDebate.Domain
@using OnlineDebate.Data
@using Microsoft.AspNetCore.Authorization
@implements IAsyncDisposable
@inject IDbContextFactory<OnlineDebate.Data.OnlineDebateContext> DbFactory
@attribute [Authorize(Roles = "Administrator, User")]

<PageTitle>Index</PageTitle> @*Index Page*@

<style style="font-family:Jacquard">
    body {
        background-color: lightyellow;
    }
</style>

<h1 style="font-family:Jacquard">Debates</h1>



<QuickGrid Class="table" Items="context.Topic">
    <PropertyColumn Property="topic => topic.TopicName" Title="Topic" />
    <PropertyColumn Property="topic => topic.TopicCategory" Title="Category" />
    <PropertyColumn Property="topic => topic.TopicDescription" Title="Description" />
    <PropertyColumn Property="topic => topic.TopicRules" Title="Rules" />
    <PropertyColumn Property="topic => topic.OnlineDebateUser.FirstName" Title="User" />
    <PropertyColumn Property="topic => topic.DateCreated" Title="Date Created" />

    <TemplateColumn Context="topic">
        <a href="@($"topics/edit?id={topic.Id}")">Edit</a> |
        <a href="@($"topics/details?id={topic.Id}")">Details</a> |
        <AuthorizeView Roles="Administrator">
            <a href="@($"topics/delete?id={topic.Id}")">Delete</a>
        </AuthorizeView>
        <a href="@($"arguments?topicId={topic.Id}")">View Arguments</a>
    </TemplateColumn>
</QuickGrid>

<NavLink class="nav-link" href="Topics/Create">
    <button style="background-color:mediumseagreen; color:white; border-radius:200px; width:150px">Create New</button>
</NavLink>




@code {
    private OnlineDebateContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        var arguments = context.Topic
        .Include(a => a.OnlineDebateUser)
        .ToList();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
