@page "/arguments"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using OnlineDebate.Domain
@using OnlineDebate.Data
@using Microsoft.AspNetCore.Authorization
@implements IAsyncDisposable
@inject IDbContextFactory<OnlineDebate.Data.OnlineDebateContext> DbFactory
@attribute [Authorize(Roles = "Administrator, User")]

<PageTitle>Index</PageTitle>

<h1 style="font-family:Jacquard">Arguments</h1>

<style>
    body {
        background-color: lightyellow;
    }
</style>



<QuickGrid Class="table" Items="context.Argument">
    <PropertyColumn Property="argument => argument.ArgumentContent" Title = "Argument" />
    <PropertyColumn Property="argument => argument.ArgumentStance" Title="Agree/Disagree" />
    <PropertyColumn Property="argument => argument.ArgumentLike" Title="Likes" />
    <PropertyColumn Property="argument => argument.OnlineDebateUser.FirstName" Title="User" />
    <PropertyColumn Property="argument => argument.Topic.TopicName" Title="Topic" />
    <PropertyColumn Property="argument => argument.DateCreated" Title="Date Added" />

    <TemplateColumn Context="argument">
        <a href="@($"arguments/edit?id={argument.Id}")">Edit</a> |
        <a href="@($"arguments/details?id={argument.Id}")">Details</a> |
        <AuthorizeView Roles="Administrator">
            <a href="@($"arguments/delete?id={argument.Id}")">Delete</a>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

<NavLink class="nav-link" href="arguments/create">
    <button style="background-color:mediumseagreen; color:white; border-radius:200px; width:150px">Create New</button>
</NavLink>

@code {
    private OnlineDebateContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        var arguments = context.Argument
            .Include(a => a.Topic)
            .Include(a => a.OnlineDebateUser)
            .ToList();


    }
    
    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
