.DigitalDebatorsLogo {
    font-family: Jacquard;
    text-align: center;
    font-size: 4rem;
}

.SubHeading {
    text-align: center;
    font-size: 2rem
}

.Login {
    text-align:center;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
    max-width: 2000px; 
}