@page "/"

@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>

<style>
	body {
		background-color: lightyellow;
	}
</style>

<link rel="stylesheet" href="style.css" />

<h1 class="DigitalDebatorsLogo">Digital <br /> Debators</h1>

<h2 style="text-align:center; font-size:2rem">A Place For All Your Arguements.</h2>

<h3 style="text-align:center">Welcome @userName!</h3>

<NavLink class="nav-link" href="Topics" style="text-align:center">
	<button style="background-color:mediumseagreen; color:white; border-radius:200px; width:150px">Debate Here</button>
</NavLink>

@*
<p>
	Hello! Welcome to Digital Debaters. This place will satisfy all your debating needs!<br />
	There's the Debate Page where you can see all  <br />
	The Argument Page is to see peoples opinions on said debates <br />
	The Comment Page is to see comments to Arguments <br />
	And the report Page is to report any nasty Fellows not following our Guidelines <br />
	<br />
	That's about it Have fun
</p>

<img src="Debate.jpg" alt="Help" height="200" width="100" style="transform: rotate(270deg); position: absolute; left: 333px; top: 300px;" />
*@

@code {
	private string userName = "Guest";

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;

		if (user.Identity is not null && user.Identity.IsAuthenticated)
		{
				userName = user.Identity.Name?.Split('@')[0] ?? "User";
		}

			
	}
}

