@page "/"

<PageTitle>Home</PageTitle>

<style>
	body {
		background-color: lightyellow;
	}
</style>

<link rel="stylesheet" href="style.css" />

<h1 class="DigitalDebatorsLogo">Digital <br /> Debators</h1>

<p style="text-align:center; font-size:2rem">A Place For All Your Arguements.</p>

<NavLink class="nav-link" href="Topics" style="text-align:center">
	<button style="background-color:mediumseagreen; color:white; border-radius:200px; width:150px">Debate Here</button>
</NavLink>

@*
<p>
	Hello! Welcome to Digital Debaters. This place will satisfy all your debating needs!<br />
	There's the Debate Page where you can see all  <br />
	The Argument Page is to see peoples opinions on said debates <br />
	The Comment Page is to see comments to Arguments <br />
	And the report Page is to report any nasty Fellows not following our Guidelines <br />
	<br />
	That's about it Have fun
</p>

<img src="Debate.jpg" alt="Help" height="200" width="100" style="transform: rotate(270deg); position: absolute; left: 333px; top: 300px;" />
*@
